<br>
<div class="jumbotron">
   <h1>Bloccit</h1>
   <p>Bloccit is a resource for sharing links with your friends!</p>
   <p>
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Got an idea?</h2>
     <p>Share them to the world with Bloccit!</p>
   </div>
   <div class="col-md-4">
     <h2>Looking for reading material?</h2>
     <p>Browse through our wide list of topics.</p>
   </div>
   <div class="col-md-4">
     <h2>Join a large community!</h2>
     <p>Bloccit has a large community of users we would love for you to join our community.</p>
   </div>
 </div>
